.metric-container{
    height: 52px;
    background-color: #F9f9f9;
    width: 64px;
    border: 1px solid #d1e2e7;
    display: block;
}

.main-metric{
    text-align: center;
    font-size: 2.66666666666667em;
    line-height: 1.2em;
    display: block;
    width: 100%;
    font-family: 'gotham-book', Arial, Helvetica, sans-serif;
    color: #004B96;
}

.main-metric label{

    padding-top:0;
}

label.metric-unit{
    text-align: center;
    line-height: 1em;
    font-size: 1em;
    width: 100%;
    display: block;
    position: relative;
    text-transform: capitalize;
    padding-top: 0;
    top: -6px;
}



